/MyProject/nbproject/private/
/MyProject/build/
/Attendance_PRJ301_Assignment/dist/
/Assignment/build/
/Assignment/dist/
/Assignment/nbproject/private/
/PRJ/Assignment/build/
/PRJ/Assignment/dist/
/PRJ/Assignment/nbproject/private/
/Assignment/Assignment/build/
/Assignment/Assignment/dist/
/Assignment/Assignment/nbproject/private/
